body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evita el scroll */
    background-color: #111111;
}

.container {
    height: 100%; /* Asegura que el contenedor ocupe todo el alto de la pantalla */
}

.time-calculator {
    margin: 0; /* Elimina cualquier margen de la fila */
}

input.timepicker, .btn {
    width: 100%; /* Asegura que los inputs y el botón ocupen todo el ancho disponible */
    box-sizing: border-box; /* Asegura que el padding y el borde no causen desbordamiento */
}
